@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#menu {
    height: 5vw;
    background-color: #ffffff;
}

#menu-principal, ul, li {
    display: inline;
    list-style: none;
}

#menu-principal ul {
     margin-left: 10vw;
}

#menu-principal ul li a {
    padding: 1.5vw;
    display: inline-block;
    text-decoration: none;
    color: #979595;
}

#menu-principal ul li a:hover {
    color: #2B2B2B;
}

span {
    font-family: 'Cinzel', serif;
    font-size: 1.3em;
    float: right;
    padding: 1.5vw;
    margin-right: 10vw;
}

h2 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 5px;
}

.projetos {
    margin: 0 auto;
    width: 74%;
    height: 40vw;
    margin-top: 2vw;
    border-bottom: 1px solid #979595;
}

.projetos img{
    width: 100%;
}

.descricao {
    margin: 0 auto;
    width: 75%;
}

p, h3, table {
    margin: 0 auto;
    width: 50%;
    padding: 0.5vw;
}

p:first-letter {
    font-weight: bold;
}

.voltar {
    font-size: 1.1em;
    text-decoration: none;
    color: #979595;
}

.voltar:hover{
    color: #2B2B2B;
}

#rodape {
    height:3vw;
}

#rodape ul {
    list-style: none;
    margin-left: 38.5vw;
}

#rodape ul a {
    display: inline-block;
    text-decoration: none;
    margin: 0.5vw 4vw 0.2vw 0;
}