@charset "utf-8";

* {
    font-family: "Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-image: url(Background.jpg);
    margin: 1vw;
}

header {
    display: flex;
    justify-content: center;
    height: 10vh;
    border-bottom: 1px solid rgb(177, 168, 168);
    align-items: center;
    margin-bottom: 3vh;
}

header > * {
    margin: 0 1vw;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main > div {
    background-color: rgb(59, 112, 162);
    border: 5px double rgb(177, 168, 168);
    border-top: none;
    min-height: 25vh;
    min-width: 25vw;
    margin: 2vw;
    height: 40vh;
    padding: 1vw;
}

